*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(208, 205, 205);
    height: 100vh;
    font-family: "Rubik", serif;
}

.container {
    background-color: white;    
    width: 50%;
    min-width: 400px;
    min-height: 80px;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 8px 8px 34px 2px rgba(0,0,0,0.25);
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.avatar {
    width: 30px;
    height: 30px;
    margin: 2px auto; 
    /* border: 1px solid red; */
    border-radius: 50% ; /*circle*/
    display: flex; 
    justify-content: center; /*vertical*/
    align-items: center; /*horizontal*/
    padding: 4px;
    overflow: hidden; /*at border*/
}
.avatar img {
    width: 300%;  
}

.textinput{
    flex-grow: 1;
    padding: 4px;
}

input[type="text"]{
    background-color: rgb(238, 237, 237);
    width: 100%;
    height: 30px;
    border: 0px;
    border-radius: 15px;
    padding-inline: 15px;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4px;
    gap: 16px;

}

.main [class^="item"]{
    font-size: 0.7em;
    font-weight: bold;
    color: grey;
    /* border: 1px dashed red; */
    display: flex;
    align-items: center;
    height: 30px;
}

.main img{
    width: 16px;
    margin-inline: 6px;
   
}
